<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">

    <select id="userList" resultType="kr.ed.haebeop.domain.User">
        select * from user
    </select>

    <select id="userCount" resultType="integer">
        select count(*) from user
    </select>

    <select id="getUser" resultType="kr.ed.haebeop.domain.User">
        select * from user where id = #{id}
    </select>

    <!-- 로그인1 : 컨트롤러 로그인 처리 -->
    <select id="singIn" resultType="kr.ed.haebeop.domain.User">
        select * from user where id = #{id}
    </select>

    <!-- 로그인2 : DAO 로그인 처리 -->
    <select id="loginCheck" resultType="kr.ed.haebeop.domain.User">
        select id, pw, name from user where id = #{id}
    </select>

    <!-- 로그인3 : AJAX 로그인 처리 -->
    <select id="login" resultType="kr.ed.haebeop.domain.User">
        select id, pw, name from user where id = #{id}
    </select>

    <insert id="userInsert">
        insert into user values(#{id}, #{pw}, #{name}, #{email}, #{tel}, #{addr1}, #{addr2}, #{postcode}, default, #{birth}, default, default)
    </insert>

    <update id="userUpdate">
        update user set pw=#{pw}, name=#{name}, email=#{email}, tel=#{tel}, addr1=#{addr1}, addr2=#{addr2}, postcode=#{postcode} where id = #{id}
    </update>

    <delete id="userDelete">
        delete from user where id = #{id}
    </delete>
</mapper>